{% extends 'base.html' %}

{% block title %}Produits{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Nos Produits</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|truncatewords:15 }}</p>
                    <p class="card-text"><strong>Prix : </strong>{{ product.price }} DH</p>
                    <p class="card-text"><strong>Stock : </strong>{{ product.stock }}</p>
                    <p class="card-text"><strong>Catégorie : </strong>{{ product.category.name }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}